@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #8e9eab, #eef2f3);
  background: linear-gradient(to left, #8e9eab, #eef2f3);
}

#myHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#brand {
  font-size: 2.5em;
  padding: 20px 0;
  font-weight: bold;
  color: #222;
}

#inputArea {
  display: flex;
  align-items: center;
}

#newTopic {
  border-radius: 5px;
  border-style: none;
  line-height: 2.5em;
  padding-left: 10px;
}

#addNew {
  background: #222;
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  padding: 5px 8px;
  color: #EEE;
  margin-left: 10px;
  cursor: pointer;
}

#content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

#myFooter h3 {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.container {
  width: 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expanded {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  border-bottom: 4px solid #000;
}

.gif {
  width: 25%;
  margin: 20px 10px;
}

.title {
  text-transform: uppercase;
  font-size: 2em;
  padding: 20px 0;
  color: #EEE;
  text-shadow: 1px 1px 1px #222;
  font-weight: bold;
}

.gifSection {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.2);
}

.topic {
  width: 100%;
  min-height: 60px;
  flex: 1;
  display: flex;
  cursor: pointer;
}

.topic p {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding-left: 20px;
  color: #EEE;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

.topic p:hover {
  border-left: 10px solid #000;
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  #myHeader {
    justify-content: space-around;
    margin-bottom: 10px;
  }
}
